[Unit]
Description=Web Radio Player by LabIoT
After=multi-user.target

[Service]
Type=simple
User=
Restart=always
ExecStart=/usr/bin/python3 ~/WebRadio/Clients/main.py

[Install]
WantedBy=multi-user.target