[Unit]
Description=Web Radio Player by LabIoT
After=multi-user.target

[Service]
Type=simple
User=labiot
Restart=always
ExecStart=/usr/bin/python3 /home/labiot/WebRadio/Clients/LinuxPython/main.py

[Install]
WantedBy=multi-user.target